body {

}

Form {
    background-color:darkgray;
}

img {
    position:absolute;
    height: 120px;
    width: 120px;
    top: 40px;
    left: 44px;
}

section#controles {
    position:absolute;
    background-color:darkgray;    
    top:40px;
    left:170px;
    width: auto;
    padding:4px;
}

.TextoValidacao {
    position: absolute;
    top:100px;
    left: 170px;
    height: 126px;
    width: auto;    
}

p {
    background-color:darkgray;
    padding:4px;
}
