body {
    background-color:darkgray; 
}

img {
    position:absolute;
    height: 110px;
    width: 110px;
    top: 40px;
    left: 44px;
}

.Coluna {
    background-color:darkcyan;   

    position:absolute;
    height: 1110px;
    width: 110px;
    top: 156px;
    left: 44px;
}

.Controles {
    background-color:darkcyan;    
    color:white;
    position:absolute;
    height: 110px;
    width: 1000px;
    top: 40px;
    left: 160px;
}

.TextoValidacao {
    position: absolute;
    left: 160px;
    top: 140px;
    height: 126px;
    width: 899px;
}

p {
    background-color:darkgray;
}

.Visibilidade {
    visibility:hidden;
    color:red;
}
