<?xml version="1.0"?>
<configuration>
  <system.web>
    <urlMappings enabled="true">
      <add url="~/UrlAlterada" mappedUrl="~/Pagina2.aspx" />
    </urlMappings>
    <compilation debug="true"/>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" responseHeaderEncoding="utf-8" resourceProviderFactoryType="string" enableBestFitResponseEncoding="true" culture="pt-BR" uiCulture="pt-BR"/>
  </system.web>
</configuration>