@model ValidaArquivoSiteMVC.Models.ArquivoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/javascript.js"></script>
    <title>ValidacaoPDF</title>
</head>
<body>
<p id="textoValidacao" onload="getTextoValidacao()"> </p>
</body>
</html>
